<!-- views/dashboard.ejs -->
<!--
Expected EJS render object: {
    username: string
    gamesessionsTeacherOnly: [
        // see gamesessionsParticipating. this field is for TEACHERS ONLY
    ]
    gamesessionsParticipating: [
        {
            name: string,
            phase: int,
            createdAt: Date,
            teachers: [string, ...],
            userIsTeacherForSession: bool,
            phase1Teams: [
                {
                    studentTeamID: int // Only used when userIsTeacherForSession. Used to make sure teachers can visit every given PhaseInstance, by specifying in URL
                    usersInTeam: [string, ...],
                    SDEsStarted: int,
                    SDEsSubmitted: int,
                    SDEsApproved: int
                },
                ...
            ],
            phase2Teams: [
                {
                    usersInTeam: [string, ...],
                    SDEsChosen: int,
                    SDEsAvailable: int,
                    teacherApproved: bool
                },
                ...
            ],
            phase3Teams: [
                {
                    phase3TeamID: int
                    usersInPhase3Team: [string, ...],
                    SDEsAvailable: int,     // sum of each team's Phase2Choices SDEs
                    SDESlotsAvailable: int, // expect 8 (base game)
                    SDESlotsChosen: int,    // when an SDE is chosen for a gray card slot
                    readyForTeacher: bool,
                    teacherApproved: bool
                },
                ...
            ]
        },
        ...
    ]
}
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Committee of N - Manage Session</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic,300,300italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
</head>
<body>
    <nav>
        <div class="navItem navLeft"><a href="/">Committee of N</a></div>
        <div class="navRight">
            <div class="navItem"><a href="/dashboard">Dashboard</a></div>
            <div class="navItem" id="navUsername"><%= username %></div>
            <div class="navItem" id="navLogout"><a href="logout">Logout</a></div>
        </div>
    </nav>

    <section class="title">
        <h1>Committee of N - Dashboard</h1>
    </section>

    <section class="flash-messages">
        <!-- Message area -->
        <% if (message !== undefined && message != "") { %>
            <div class="flash-container">
                <p><%= message %></p>
            </div>
        <% } %>
    </section>

    <section class="gamesessionCreation">
        <div class="createSessionContainer">
            <input id="create-session-name" name="create-session-name" placeholder="Enter Game Session Name" /><!--
         --><button id="create-session" onclick="createSession();">
                Create New Game Session
            </button>
            <span id="createSessionResponse"></span>
            <script>
                function createSession() {
                    var sessionName = $("#create-session-name").val();
                    $.ajax({
                        type:"POST",
                        url:"session/"+sessionName+"/create",
                        data:{},
                        dataType:"json"
                    }).done( function(json){
                        console.log(JSON.stringify(json));
                        $("#createSessionResponse").text("Successfully created " + sessionName);
                        setTimeout( function(){
                            location.reload();
                        }  , 500 );
                    }).error( function(json){
                        console.log(JSON.stringify(json));
                        $("#createSessionResponse").text("Error creating " + sessionName + ": " + json.message);
                    });

                }
            </script>
        </div>
    </section>

    <section class="gamesessions">
        <!-- New dashboard -->
        <% var hasTeacherOnlyGames = gamesessionsTeacherOnly.length != 0; %>
        <% for (var g = 1; g <= (hasTeacherOnlyGames ? 2 : 1); g++) { %>
            <div class="gameinfo">
                <% var gamesessions_array; %>
                <% var sessionListHeader; %>
                <% if (g == 1 && hasTeacherOnlyGames) {
                    gamesessions_array = gamesessionsTeacherOnly;
                    sessionListHeader = "My Students' Games";
                }
                else {
                    gamesessions_array = gamesessionsParticipating;
                    sessionListHeader = "My Games";
                } %>
                <h2><%= sessionListHeader %></h2>
                <% for (var i = 0; i < gamesessions_array.length; i++) { %>
                    <div class="game">
                        <% var game = gamesessions_array[i]; %>
                        <% var userIsTeacherForSession = game.userIsTeacherForSession %>
                        <h3 class="class"><%- link_to(game.name, "session/"+game.name) %></h3>
                        <p class="instructor"><span>Instructors: </span>
                            <% for (var j = 0; j < game.teachers.length; j++) { %>
                                <%= game.teachers[j] + (j == game.teachers.length-1 ? "" : ", ") %>
                            <% } %>
                        </p>
                        <p class="smalltitle"><span>Phase: </span><%= game.phase %> of 3</p>
                        <p class="smalltitle"><span>Started on: </span><%= game.createdAt.toDateString() %></p>
                        <!-- Display all three tables as sequential divs. Later, I'll selectively hide them with CSS. -->

                        <div class="phase-tabs">
                            <div class="phase-tab" data-phase="phase1info">
                                Phase 1
                            </div><!--
                         --><div class="phase-tab" data-phase="phase2info">
                                Phase 2
                            </div><!--
                         --><div class="phase-tab" data-phase="phase3info">
                                Phase 3
                            </div>
                        </div>
                        <div class="phasearea phase1info" id="phase1info">
                            <table>
                                <tr>
                                    <th>Team</th>
                                    <th>SDEs Started</th>
                                    <th>SDEs Agreed Upon</th>
                                    <th>SDEs Approved</th>
                                </tr>
                                <% for (var j = 0; j < game.phase1Teams.length; j++) { %>
                                    <% var team = game.phase1Teams[j]; %>
                                    <tr>
                                        <td>
                                            <% var userStr = ""; %>
                                            <% for (var k = 0; k < team.usersInTeam.length; k++) { %>
                                                <% userStr += team.usersInTeam[k] + (k == team.usersInTeam.length-1 ? "" : ", ") %>
                                            <% } %>
                                            <% if (!userIsTeacherForSession) { %>
                                                <%= userStr %>
                                            <% } else { %>
                                                <%- link_to(userStr, "session/"+game.name+"/team/"+team.studentTeamID+"/phase1/view") %>
                                            <% } %>
                                        </td>
                                        <td><%= team.SDEsStarted %></td>
                                        <td><%= team.SDEsSubmitted %></td>
                                        <td><%= team.SDEsApproved %></td>
                                    </tr>
                                <% } %>
                            </table>
                        </div>
                        <div class="phasearea phase2info" id="phase2info">
                            <table>
                                <tr>
                                    <th>Team</th>
                                    <th>SDEs Available</th>
                                    <th>SDEs Chosen</th>
                                    <th>Approved?</th>
                                </tr>
                                <% for (var j = 0; j < game.phase2Teams.length; j++) { %>
                                    <% var team = game.phase2Teams[j]; %>
                                    <tr>
                                        <td>
                                            <% var userStr = ""; %>
                                            <% for (var k = 0; k < team.usersInTeam.length; k++) { %>
                                                <% userStr += team.usersInTeam[k] + (k == team.usersInTeam.length-1 ? "" : ", ") %>
                                            <% } %>
                                            <% if (!userIsTeacherForSession) { %>
                                                <%= userStr %>
                                            <% } else { %>
                                                <%- link_to(userStr, "session/"+game.name+"/team/"+team.studentTeamID+"/phase2/view") %>
                                            <% } %>
                                        </td>
                                        <td><%= team.SDEsAvailable %></td>
                                        <td><%= team.SDEsChosen %></td>
                                        <td><%= team.teacherApproved %></td>
                                    </tr>
                                <% } %>
                            </table>
                        </div>
                        <div class="phasearea phase3info" id="phase3info">
                            <table>
                                <tr>
                                    <th>Team</th>
                                    <th>Total SDEs Available</th>
                                    <th>SDE Slots Available</th>
                                    <th>SDE Slots Chosen</th>
                                    <th>Approved?</th>
                                </tr>
                                <% for (var j = 0; j < game.phase3Teams.length; j++) { %>
                                    <% var team = game.phase3Teams[j]; %>
                                    <tr>
                                        <td>
                                            <% var userStr = ""; %>
                                            <% for (var k = 0; k < team.usersInPhase3Team.length; k++) { %>
                                                <% userStr += team.usersInPhase3Team[k] + (k == team.usersInPhase3Team.length-1 ? "" : ", ") %>
                                            <% } %>
                                            <% if (!userIsTeacherForSession) { %>
                                                <%= userStr %>
                                            <% } else { %>
                                                <%- link_to(userStr, "session/"+game.name+"/team/"+team.phase3TeamID+"/phase3/view") %>
                                            <% } %>
                                        </td>
                                        <td><%= team.SDEsAvailable %></td>
                                        <td><%= team.SDESlotsAvailable %></td>
                                        <td><%= team.SDESlotsChosen %></td>
                                        <td><%= team.teacherApproved %></td>
                                    </tr>
                                <% } %>
                            </table>
                        </div>
                        <div class="session_toolbar">
                            <% if (userIsTeacherForSession) { %>
                                <p class="session_actions">
                                    <span class="managesession"><%- link_to("Manage Participants", "session/"+game.name+"/phase"+game.phase+"/manage") %></span>
                                    <% if (game.phase == 2 || game.phase == 3) { %>
                                        <span class="prevphase"><%- link_to("Revert to Phase "+(game.phase-1), "session/"+game.name+"/phase"+game.phase+"/revert") %></span>
                                    <% } %>
                                    <% if (game.phase == 1 || game.phase == 2) { %>
                                        <span class="next"><%- link_to("Progress to Phase "+(game.phase+1), "session/"+game.name+"/phase"+game.phase+"/progress") %></span>
                                    <% } %>
                                </p>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } %>
    </section>

    <footer>
        <div class="copyright">
            <i class="fa fa-copyright"></i> 2016 Teaching Systems Lab
        </div>
    </footer>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/dashboard.js"></script>
</body>
</html>
