<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Committee of N</title>
</head>
<body>
<div class='container'>
    <h1>Committee of N</h1>

    <% if (message) { %>
    <p><%= message %></p>
    <% } %>
    
	<p>Please login or register.</p>
	<a href="/login">Login</a>
	<a href="/signup">Signup</a>
	<p>Forgot password?</p>

</div>
</body>
</html>