<!-- views/login.ejs -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Committee of N - Login</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic,300,300italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">

</head>
<body>
    <nav>
        <div class="navItem navLeft"><a href="index.html">Committee of N</a></div>
        <div class="navRight">
            <div class="navItem">Login</div>
        </div>
    </nav>
    <section class="login">
        <div class="form-wrapper">
            <% if (message !== undefined && message != "") { %>
                <% if (success == true) { %>
                    <div class="flash-container-success">
                        <p><%= message %></p>
                    </div>
                <% } else { %>
                    <div class="flash-container">
                        <p><%= message %></p>
                    </div>
                <% } %>
            <% } %>
            <h1>Login</h1>
            <form action="/login" method="post">
                <div class="formitem"><i class="fa fa-user"></i><input type="text" name="username" placeholder="username" autofocus></div>
                <div class="formitem"><i class="fa fa-lock"></i><input type="password" name="password" placeholder="password"></div>
                <div class="remember"><input type="checkbox" name="remember" value="remember">Remember Me</div><!--
             --><button type="submit" class="login-button">Login</button>
            </form>
            <a href="#">Forgot password?</a>
            <p><a href='register'>Register here</a></p>
        </div>
    </section>
    <footer>
        <div class="copyright">
            <i class="fa fa-copyright"></i> 2016 Teaching Systems Lab
        </div>
    </footer>
</div>
</body>
</html>
