<!DOCTYPE html>
<html>
<head>
    <title>Committee of N - Dashboard</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic,300,300italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/manage.css">

    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <nav>
        <div class="navItem navLeft"><a href="/">Committee of N</a></div>
        <div class="navRight">
            <div class="navItem"><a href="/dashboard">Dashboard</a></div>
            <div class="navItem" id="navUsername"><%= username %></div>
            <div class="navItem" id="navLogout"><a href="/logout">Logout</a></div>
        </div>
    </nav>
    <section id="error">
        Each team must have at least one group!
    </section>
    <section id="all-teams">
        <div class="team-container">

        </div>
        <script>/*
        var studentGroups = [["a","b"],["y","z"],["c","d","e"]];

        $("#error").hide();

        function createContainers() {
            var numTeams = parseInt($("#num-selected").val());
            $("#team-numbers").empty();
            $("#all-teams").empty();
            for (i = 1; i <= numTeams; i++) {
                $("#all-teams").append("<div id='team"+i+"' class='team-container'></div>");
                for (j = i - 1; j < studentGroups.length; j += numTeams) {
                    var studentPair = studentGroups[j];
                    if (studentPair.length == 3) {
                        $("#team"+i).append('<div class="student-pair"><p>'+studentPair[0]+'</p><p>'+studentPair[1]+'</p><p>'+studentPair[2]+'</div>');
                    } else {
                        $("#team"+i).append('<div class="student-pair"><p>'+studentPair[0]+'</p><p>'+studentPair[1]+'</div>');
                    }

                }
                $("#team-numbers").append("<div>Team "+i+"</div>");
            }
            $("#team-numbers").show();
            $("#all-teams").show();
            $("#submit-teams").show();
            dragula($('#all-teams div.team-container').toArray());
        }*/
        </script>
    </section>

    <section class="sessionManagement">
        <div id="student-input">
            <h1>Manage session: <%= sessionName %></h1>
            <p class="instructions">Press enter to add new student. Make sure all usernames are correct and valid before submitting.</p>
            <form action="" id="student-input-form">
                <div><input class="usernameEntry" type="text" placeholder="Player username"><span class="userComment"></span></div>

            </form>
            <script>
                $( document ).ready(function() {
                    var studentInput = '<div><input class="usernameEntry" type="text" placeholder="Player username"><span class="userComment"></span></div>';
                    var studentInputFunction = function(e) {
                        if (e.which == 13) {
                            e.preventDefault();
                            countempty = 0;
                            $("#student-input-form input[type=text]").each(function() {
                                if(!this.value) {
                                    countempty++;
                                }
                            });
                            if (countempty == 0) {
                                $("#student-input-form").append(studentInput);
                                $("#student-input-form div:last-child input").focus();
                            }
                        }
                    }
                    $('#student-input-form').keypress(studentInputFunction);
                });
            </script>

            <button onclick="checkStudents()">Check Usernames</button>
            <script>
                function checkStudents() {
                    usersThusFar = {};
                    $(".usernameEntry").each( function(index, element) {
                        if (element.value != "") {
                            if (usersThusFar[element.value]) {
                                markDuplicate(index);
                            }
                            else {
                                usersThusFar[element.value] = true;
                                //console.log("Checking entry: " + element.value);
                                $.ajax({
                                    type: "POST",
                                    url: "/isUser/" + element.value,
                                    data: { usernameFieldIndex: index },
                                    dataType: "json"
                                }).done(function (json) {
                                    // console.log(JSON.stringify(json));
                                    markIsUser(json.usernameFieldIndex, json.isUser);
                                }).error(function (json) {
                                    console.log("Got error object: " + JSON.stringify(json));
                                });
                            }
                        }
                    });
                }
                function markIsUser(userFieldIndex, isUser) {
                    $(".userComment").each( function(index, element) {
                        if (index == userFieldIndex) {
                            if (isUser) {
                                element.innerHTML = "Valid username."
                            }
                            else {
                                element.innerHTML = "No user found by this name!"
                            }
                        }
                    });
                }
                function markDuplicate(userFieldIndex) {
                    $(".userComment").each( function(index, element) {
                        if (index == userFieldIndex) {
                            element.innerHTML = "Duplicate username!";
                        }
                    });
                }
            </script>

            <button onClick="submitStudents()">Submit Students for Session</button>
            <p class="responseArea"></p>
            <script>
                var sessionName = "<%- sessionName %>";
                function submitStudents() {
                    var students = [];
                    $(".usernameEntry").each( function(index, element) {
                        if (element.value != "") {
                            students.push(element.value);
                        }
                    });
                    // first, confirm each student is a valid username
                    var invalid = false;
                    $(".userComment").each( function(index, element) {
                        if (element.innerHTML != "Valid username.") {
                            if (index < students.length) {
                                invalid = true;
                            }
                        }
                    });
                    if (invalid) return;
                    // then send the request to the server
                    var studentTeams = [];
                    var studentTeam = [];
                    var earlyOut = false;
                    for (var i = 0; i < students.length; i++) {
                        var student = students[i];
                        studentTeam.push(student);
                        if (studentTeam.length == 2) {
                            if (i == students.length - 2) {
                                // push remaining two students and continue
                                // with one studentTeam having 3 members
                                studentTeam.push(students[i+1]);
                                earlyOut = true;
                            }
                            studentTeams.push(studentTeam);
                            studentTeam = [];
                            if (earlyOut) break;
                        }
                        if (students.length == 1) {
                            studentTeams.push(studentTeam);
                        }
                    }
                    console.log(JSON.stringify(studentTeams));
                    $(".responseArea").text("Please wait, processing teams...");
                    $.ajax({
                        type: "POST",
                        url: "/session/"+sessionName+"/setTeams",
                        data: { studentTeams: studentTeams },
                        dataType: "json"
                    }).done( function(json) {
                        console.log(JSON.stringify(json));
                        $(".responseArea").text("Teams created!");
                        setTimeout( function(){
                            document.location = "/dashboard";
                        }, 500 );
                    }).error( function(json) {
                        console.log("Got error object: " + JSON.stringify(json));
                    });
                }
            </script>
        </div>
    </section>

</body>
</html>
