<!-- views/phase2.ejs -->
<!-- Expected EJS Render Object:
    {
        username: string
    }
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Committee of N - Phase I</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic,300,300italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/phase2.css">

</head>
<body>
    <nav>
        <div class="navItem navLeft"><a href="/dashboard">Committee of N</a></div>
        <div class="navRight">
            <div class="navItem"><a href="/dashboard">Dashboard</a></div>
            <div class="navItem" id="username"><%= username %></div>
            <div class="navItem" id="navLogout"><a href="/logout">Logout</a></div>
        </div>
    </nav>
    <section class="main" id="main">
        <h1 class="title">Committee of N - Phase II</h1>
        <p class="instructions"><span class="bolder">Instructions:</span> With your partner, select four sets you'd like to move on to the next phase based on which ones you find the most interesting or that you're the most proud of.</p>
        <p class="status-text">Status: <span id="status"></span></p>
        <div class="sets" id="sets">
        </div>

        

    </section>

    <section class="online">
        <div class="online-container" id="online-container">
            <h2>Users:</h2>

        </div>
        <button id="approve-button">Approve</button>
        <button id="reject-button">Reject</button>
    </section>

    <section class="chat">
        <div class="chat-container" id="chat-container">
            <h2>Discussion</h2>
            <div id="chat-message-area">

            </div>
        </div>
        <div class="chat-input-wrapper">
            <textarea  rows="1" id="chat-new" placeholder="Type here..."></textarea>
        </div>
    </section>

    <!-- scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.elastic.source.js"></script>
    <script>
    //EJS VARIABLES
    var userIsTeacherForSession = <%= userIsTeacherForSession ? true : false %>;
    var sessionUsername = '<%= username %>';


    </script>
    <script src="/js/phase2student.js"></script>

</body>

</html>
