<!DOCTYPE html>
<html>
<head>
    <title>Committee of N - Dashboard</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic,300,300italic' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/phase2to3.css">
    <link rel="stylesheet" type="text/css" href="/css/dragula.min.css">
</head>
<body>
    <nav>
        <div class="navItem navLeft"><a href="/">Committee of N</a></div>
        <div class="navRight">
            <div class="navItem"><a href="/dashboard">Dashboard</a></div>
            <div class="navItem" id="navUsername"><%= username %></div>
            <div class="navItem" id="navLogout"><a href="logout">Logout</a></div>
        </div>
    </nav>

    <section id="error">
        Each team must have at least one group!
    </section>

    <section class="num-teams">
        <p>How many teams do you want to create for Phase 3?</p>
        <select id="num-selected">
            <option value="1">1</option>
            <option value="2" selected>2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <p id="retrievingTeamsNotif"> Retrieving teams... </p>
        <button id="createContainersButton" onclick="createContainers();" disabled>Create</button>
    </section>

    <section id="team-numbers">
    </section>

    <section id="all-teams">
    </section>

    <section>
        <p id="submit-feedback"></p>
    </section>

    <section id="submit-teams">
        <button onclick="createTeams();">Submit to Phase 3</button>
    </section>

    <script src="/js/jquery.min.js"></script>
    <script src='/js/dragula.min.js'></script>
    <script>
        //var studentGroups = [["a","b"],["y","z"],["c","d","e"]]; // Structural example
        var studentGroups = [];
        function getTeams() {
            $.ajax({
                type: "GET",
                url: "getTeams",
                dataType: "json"
            }).done( function(json) {
                studentGroups = json["studentTeams"];
                $("#retrievingTeamsNotif").hide();
                $("#createContainersButton").removeAttr("disabled");
            }).error( function(json) {
                console.error(json);
            });
        }
        $(document).ready( function() {
            getTeams();
        });

        $("#team-numbers").hide();
        $("#all-teams").hide();
        $("#submit-teams").hide();
        $("#error").hide();

        function createContainers() {
            var numTeams = parseInt($("#num-selected").val());
            $("#team-numbers").empty();
            $("#all-teams").empty();
            for (i = 1; i <= numTeams; i++) {
                $("#all-teams").append("<div id='team"+i+"' class='team-container'></div>");
                for (j = i - 1; j < studentGroups.length; j += numTeams) {
                    var studentPair = studentGroups[j];
                    if (studentPair.length == 3) {
                        $("#team"+i).append('<div class="student-pair"><p>'+studentPair[0]+'</p><p>'+studentPair[1]+'</p><p>'+studentPair[2]+'</div>');
                    } else {
                        $("#team"+i).append('<div class="student-pair"><p>'+studentPair[0]+'</p><p>'+studentPair[1]+'</div>');
                    }

                }
                $("#team-numbers").append("<div>Team "+i+"</div>");
            }
            $("#team-numbers").show();
            $("#all-teams").show();
            $("#submit-teams").show();
            dragula($('#all-teams div.team-container').toArray());
        }

        function setPhase3Teams(phase3Teams) {
            $("#submit-feedback").text("Submitting team data...");
            $.ajax({
                type: "POST",
                url: "setPhase3Teams",
                data: {
                    phase3Teams: phase3Teams
                },
                dataType: "json"
            }).done( function(json) {
                $("#submit-feedback").text(json.message);
                console.log(JSON.stringify(json));
                setTimeout( function(){
                    document.location = "/dashboard";
                }, 1000 );
            }).error( function(json) {
                console.error(json);
            });
        }

        function createTeams() {
            var anyEmpty = false;
            $("#all-teams").children().each(function() {
                if ($(this).children().length == 0) {
                    anyEmpty = true;
                    $("#error").show();
                }
            });
            if (anyEmpty == false) {
                var phase3teams = [];
                var numTeams = $("#all-teams > div").length;
                for (i = 1; i <= numTeams; i++) {
                    var team = [];
                    $("#all-teams > div:nth-child("+i+") > div").each(function() {
                        $(this).children().each(function() {
                            team.push($(this).text());
                        });
                    });
                    phase3teams.push(team);
                }

                //return phase 3 teams
                console.log(phase3teams);
                setPhase3Teams(phase3teams);
                //redirect page
            }
        }


    </script>
</body>
</html>
