<!-- views/phase1.ejs -->
<!-- Revised phase 1 view derived from phase1student.ejs, so that teachers can
chat with students and see at least everything that they can. -->
<!-- Expected EJS render object:
{
    username: string
    userIsTeacherForSession: bool
}
-->
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Committee of N - Phase I</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic,300,300italic' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/phase1.css">
</head>
<body>
    <nav>
        <div class="navItem navLeft"><a href="/dashboard">Committee of N</a></div>
        <div class="navRight">
            <div class="navItem"><a href="/dashboard">Dashboard</a></div>
            <div class="navItem" id="username"><%= username %></div>
            <div class="navItem" id="navLogout"><a href="/logout">Logout</a></div>
        </div>
    </nav>
    <section class="main" id="main">
        <h1 class="title">Committee of N - Phase I</h1>
        <p class="instructions"><span class="bolder">Instructions:</span> Fill out as many of the 8 School Design Element (SDE) forms as you can, given each card set.</p>

        <div class="sets">
            <p class="setlink" id="setlink1" data-id="1">1</p>
            <p class="setlink" id="setlink2" data-id="2">2</p>
            <p class="setlink" id="setlink3" data-id="3">3</p>
            <p class="setlink" id="setlink4" data-id="4">4</p>
            <p class="setlink" id="setlink5" data-id="5">5</p>
            <p class="setlink" id="setlink6" data-id="6">6</p>
            <p class="setlink" id="setlink7" data-id="7">7</p>
            <p class="setlink" id="setlink8" data-id="8">8</p>
        </div>

    </section>
    <section class="online">
        <div class="online-container" id="online-container">
            <h2>Users:</h2>
        </div>
    </section>

    <section class="chat">
        <div class="chat-container" id="chat-container">
            <h2>Discussion</h2>
            <div id="chat-message-area">

            </div>
        </div>
        <div class="chat-input-wrapper">
            <textarea  rows="1" id="chat-new" placeholder="Type here..."></textarea>
        </div>
    </section>

    <!-- scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.elastic.source.js"></script>

    <script>
        var userIsTeacherForSession = <%= userIsTeacherForSession ? true : false %>;

        var lines = [1,1,1,1,1,1,1,1];
        var socket = io();
        var sde_ids = [];
        var socketIDs = {};

        function make_lines(features, setIndex) {
            var featurelist = features.split("\n");

            for (i=1;i<=featurelist.length;i++) {

                if (featurelist[i-1] != "") {
                    var inputline = '<div class="sioinput-wrapper"><textarea type="textarea"name="feature" class="sioinput sioinput'+i+'" placeholder="add another feature">'+featurelist[i-1]+'</textarea></div>';

                    $("#set"+setIndex).find(".features").append(inputline);
                }
            }
            var addline = '<div class="sioinput-wrapper"><textarea name="feature" class="sioinput addline" placeholder="add another feature"></textarea></div>';
            $("#set"+setIndex).find(".features").append(addline);
            lines[setIndex-1] = featurelist.length+1;
        }

        function createSDE(json) {
            //sorts the json file
            /*sorteddata = json.phase1hands.sort(function(a, b) {
                if (a.design_element_card.title != b.design_element_card.title) {
                    return ((a.design_element_card.title > b.design_element_card.title) ? 1 : -1 );
                } else {
                    if (a.design_value_1.title != b.design_value_1.title) {
                        return ((a.design_value_1.title > b.design_value_1.title) ? 1 : -1 );
                    } else {
                        if (a.design_value_2.title != b.design_value_2.title) {
                            return ((a.design_value_2.title > b.design_value_2.title) ? 1 : -1 );
                        } else {
                            return ((a.design_value_3.title > b.design_value_3.title) ? 1 : -1 );
                        }
                    }
                }
            });*/
            sorteddata = json.phase1hands.sort(function(a, b) {
                return ((a.sde_id > b.sde_id) ? 1 : -1 );
            });
            for (j = 1; j <= 8; j++) {
                var setdata = sorteddata[j-1];
                sde_ids.push(setdata.sde_id);
                var onlineList = $("#online-container ul.sde"+j);
                //console.log(onlineList);
                var statusNum = setdata.teacher_approved;
                if (statusNum == 1) {
                    var status = "Teacher Approved";
                    var symbolHTML = "<li><i class='fa fa-check'></i></li>";
                    onlineList.append(symbolHTML);
                } else if (statusNum == 0) {
                    var status = "Draft";
                    var symbolHTML = "<li><i class='fa fa-hourglass'></i></li>";
                    onlineList.append(symbolHTML);
                } else {
                    var status = "Sent Back for Revision";
                    var symbolHTML = "<li><i class='fa fa-close'></i></li>";
                    onlineList.append(symbolHTML);
                }
                if (userIsTeacherForSession) {
                    $("#online-container ul.users").children("li").each(function(index) {
                        if ($(this).text() == '<%= username %>') {
                            $("#online-container .sde"+j+" li:nth-child("+(index+1)).html(symbolHTML);
                        }
                    });
                }



                if (setdata.title == '') {
                    var titledata = 'placeholder="Write A Descriptive Title Here"';
                } else {
                    var titledata = 'value="'+setdata.title+'"';
                }
                if (setdata.title != '' || setdata.design_features != '') {
                    $("#setlink"+j).addClass("hasContent");
                }

                if (statusNum == 1) {
                    var readonly = "<h1 id='locked-message'>This set has been approved, and editing is locked.</h1>";
                } else {
                    var readonly = "<h1 id='locked-message'></h1>";
                }

                var sde = '<div class="set" id="set'+j+'"><div class="hand"><div class="design-tabs"><div class="design-tab design-tab-element" data-card="design-element"><p>Design Element</p><p>'+setdata.design_element_card.title+'</p></div><div class="design-tab design-tab-value-1" data-card="design-value-1"><p>Design Value</p><p>'+setdata.design_value_1.title+'</p></div><div class="design-tab design-tab-value-2" data-card="design-value-2"><p>Design Value</p><p>'+setdata.design_value_2.title+'</p></div><div class="design-tab design-tab-value-3" data-card="design-value-3"><p>Design Value</p><p>'+setdata.design_value_3.title+'</p></div></div>'; // tabs
                var sde = sde + '<div class="design-area design-element"><div class="design-card"><div class="design-card-container"><h1>'+setdata.design_element_card.title+'</h1><img class="embellishment" src="/assets/embellishment.png" /><p>“'+setdata.design_element_card.quote_text+'”</p><p>- '+setdata.design_element_card.quote_author+'</p><img class="embellishment" src="/assets/embellishment.png" /></div></div><div class="design-info"><h1>'+setdata.design_element_card.title+'</h1><p>'+setdata.design_element_card.description+'</p><p>More: Links coming soon</p></div></div>'; // area for design element
                var sde = sde + '<div class="design-area design-value-1"><div class="design-card"><div class="design-card-container"><h1>'+setdata.design_value_1.title+'</h1><img class="embellishment" src="/assets/embellishment.png" /><p>“'+setdata.design_value_1.quote_text+'”</p><p>- '+setdata.design_value_1.quote_author+'</p><img class="embellishment" src="/assets/embellishment.png" /></div></div><div class="design-info"><h1>'+setdata.design_value_1.title+'</h1><p>'+setdata.design_value_1.description+'</p><p>More: Links coming soon</p></div></div>'; // area for design value 1
                var sde = sde + '<div class="design-area design-value-2"><div class="design-card"><div class="design-card-container"><h1>'+setdata.design_value_2.title+'</h1><img class="embellishment" src="/assets/embellishment.png" /><p>“'+setdata.design_value_2.quote_text+'”</p><p>- '+setdata.design_value_2.quote_author+'</p><img class="embellishment" src="/assets/embellishment.png" /></div></div><div class="design-info"><h1>'+setdata.design_value_2.title+'</h1><p>'+setdata.design_value_2.description+'</p><p>More: Links coming soon</p></div></div>'; // area for design value 2
                var sde = sde + '<div class="design-area design-value-3"><div class="design-card"><div class="design-card-container"><h1>'+setdata.design_value_3.title+'</h1><img class="embellishment" src="/assets/embellishment.png" /><p>“'+setdata.design_value_3.quote_text+'”</p><p>- '+setdata.design_value_3.quote_author+'</p><img class="embellishment" src="/assets/embellishment.png" /></div></div><div class="design-info"><h1>'+setdata.design_value_3.title+'</h1><p>'+setdata.design_value_3.description+'</p><p>More: Links coming soon</p></div></div></div>'; // area for design value 3
                var sde = sde + '<div class="form">'+readonly+'<input type="text" name="title" class="title sioinput" '+titledata+'><h2>Key Design Features</h2><p class="instructions">Be sure to include a justification for each feature.</p><div class="sioarea features"></div><button class="save">Save</button><button class="approve">Approve</button>'; // form

                if (userIsTeacherForSession) {
                    var sde = sde + '<button class="revise">Send Back For Revision</button>';
                }

                var sde = sde + '<span class="status">Status: '+status+'</span></div></div>';

                //adding the form with justifications, which for debugging purposes we'll include with features for now
                //var sde = sde + '<div class="form"><input type="text" name="title" class="title" placeholder="'+titleplaceholder+'"><h2>Key Design Features</h2><div class="sioarea features">'+''+'</div><h2>Justifications</h2><div class="sioarea justifications">'+''+'</div><button class="save">Save</button><button class="submit">Submit for Review</button><span class="status">Status: '+status+'</span></div></div>'; // form

                $("#main").append(sde);

                make_lines(setdata.design_features, j);

            }
            /*$('.sioinput:not(.addline)').val( function(idx, existing_value__ignored) {
                return json.features[idx];
            });*/

            $("textarea.sioinput").elastic();

            //console.log($(".sioinput"));

            $('.sioinput:not(.addline)').keyup(function(){
                content = $(this).val();
                var set = $(this).parents(".set").attr("id");
                var classnum = $(this).attr('class').split(' ').filter(function(value) {
                    if (value != "sioinput" && value != "addline"){
                        return value;
                    }
                });
                if (classnum.length != 1) {
                    console.log("error!!");
                    console.log($(this).attr('class'));
                } else {
                    socket.emit('keyup', content, set, classnum);
                }

            });
            $('.sioinput:not(.addline)').focusin(function(){
                var set = $(this).parents(".set").attr("id");
                var classnum = $(this).attr('class').split(' ').filter(function(value) {
                    if (value != "sioinput" && value != "addline"){
                        return value;
                    }
                });
                if (classnum.length != 1) {
                    console.log("error!!");
                    console.log($(this).attr('class'));
                } else {
                    socket.emit('lock', set, classnum);
                }
            });
            $('.sioinput:not(.addline)').focusout(function(){
                var set = $(this).parents(".set").attr("id");
                var classnum = $(this).attr('class').split(' ').filter(function(value) {
                    if (value != "sioinput" && value != "addline"){
                        return value;
                    }
                });
                if (classnum.length != 1) {
                    console.log("error!!");
                    console.log($(this).attr('class'));
                } else {
                    socket.emit('unlock', set, classnum);
                }
            });
            $('.addline').focusin(function(){
                var setIndex = $(this).parents(".set").attr("id").slice(-1);
                socket.emit('addline',setIndex);
            });
            $('.addline').focusout(function(){
                var set = $(this).parents(".set").attr("id");
                var classnum = $(this).attr('class').split(' ').filter(function(value) {
                    if (value != "sioinput" && value != "addline"){
                        return value;
                    }
                });
                if (classnum.length != 1) {
                    console.log("error!!");
                    console.log($(this).attr('class'));
                } else {
                    socket.emit('removeempty',set,classnum);
                }
            });

            //open first one
            $(".design-element").addClass("open");

            //clicking any design tab
            $('.design-tab').click(function(){
                //get card class
                var cardClass = "."+$(this).attr("data-card");
                //select hand
                var hand = $(this).parents(".hand");
                //select right card]
                var card = hand.children(cardClass);
                //hide all cards
                hand.children(".design-area").removeClass("open");
                //display clicked card
                card.addClass("open");
            });

            //open first SDE
            $('#set1').addClass("open");
            $('#setlink1').addClass("setSelected");

            //clicking an SDE number
            $('.setlink').click(function(){
                //selectset
                var set = $("#set"+$(this).attr("data-id"));
                //hide all sets
                $(".set").removeClass("open");
                $(".setlink").removeClass("setSelected");
                //display clicked card
                set.addClass("open");
                $(this).addClass("setSelected");
            });

            $('.save').click(function() {
                var set = $(this).parents(".set").attr("id");
                var designtitle = $("#"+set).find(".title.sioinput").val();
                var sdeid = sde_ids[set.slice(-1)-1];
                var textareas = $("#"+set).find('textarea.sioinput:not(.addline)');
                var featurelines = '';
                for (var i = 0; i < textareas.length; i++) {
                    var text = textareas[i].value;
                    featurelines = featurelines + text + "\n";
                }
                //featurelines = featurelines + textareas[textareas.length-1].value
                console.log(designtitle);
                console.log(featurelines);

                $.ajax( {
                    url: "saveFeatures",
                    data: {
                        title: designtitle,
                        features: featurelines,
                        sde_id: sdeid
                    },
                    type: "POST",
                    dataType: "json",
                })
                .done( function(json) {
                    console.log("[sync_features_request] Successful sync! Response: " + JSON.stringify(json));
                    //if save successful, update status and setlink class
                    socket.emit('updatesetlink', set.slice(-1));
                    $("#"+set+" .status").text("Save Successful!").delay(1000).queue(function() {
                        $(".status").text("Status: Draft");
                        $(".status").dequeue();
                    });
                })
                .fail( function(error) {
                    console.error("[sync_features_request] An error occurred syncing features: " + JSON.stringify(error));
                });
            });



            // approve button
            $(".approve").click(function() {
                //copied and pasted from save
                var set = $(this).parents(".set").attr("id");
                var designtitle = $("#"+set).find(".title.sioinput").val();
                var sdeid = sde_ids[set.slice(-1)-1];
                var textareas = $("#"+set).find('textarea.sioinput:not(.addline)');
                var featurelines = '';
                for (var i = 0; i < textareas.length; i++) {
                    var text = textareas[i].value;
                    featurelines = featurelines + text + "\n";
                }
                //featurelines = featurelines + textareas[textareas.length-1].value
                console.log(designtitle);
                console.log(featurelines);

                $.ajax( {
                    url: "saveFeatures",
                    data: {
                        title: designtitle,
                        features: featurelines,
                        sde_id: sdeid
                    },
                    type: "POST",
                    dataType: "json",
                })
                .done( function(json) {
                    console.log("[sync_features_request] Successful sync! Response: " + JSON.stringify(json));
                    //if save successful, update status and setlink class
                    socket.emit('updatesetlink', set.slice(-1));
                    $("#"+set+" .status").text("Save Successful!").delay(1000).queue(function() {
                        $(".status").text("Status: Draft");
                        $(".status").dequeue();
                    });
                })
                .fail( function(error) {
                    console.error("[sync_features_request] An error occurred syncing features: " + JSON.stringify(error));
                });

                //approve stuff
                var set = $(this).parents(".set").attr("id");
                var sdeid = sde_ids[set.slice(-1)-1];
                $.ajax({
                    type: "POST",
                    url: "setApproval",
                    data: {
                        sde_id: sdeid,
                        approved: 1
                        // user is known from the login session context
                        // session is known from the base URL
                    },
                    dataType: "JSON"
                }).done(function(json) {
                    //console.log("Got back setApproval response: " + JSON.stringify(json));
                    var change_status = set.slice(-1);
                    $("#"+set+" .status").text("Approved!").delay(1000).queue(function() {
                        $(".status").text("Status: Draft");
                        $(".status").dequeue();
                    });
                    if (userIsTeacherForSession) {
                        socket.emit('updatestatus', change_status, 'Teacher', "check");
                    } else {
                        socket.emit('updatestatus', change_status, '<%= username %>', "check");
                    }
                });
            });
            
            // Send back for revision button
            $(".revise").click(function() {
                var set = $(this).parents(".set").attr("id");
                var sdeid = sde_ids[set.slice(-1)-1];
                $.ajax({
                    type: "POST",
                    url: "setApproval",
                    data: {
                        sde_id: sdeid,
                        approved: -1
                        // user is known from the login session context
                        // session is known from the base URL
                    },
                    dataType: "JSON"
                }).done(function(json) {
                    //console.log("Got back setApproval response: " + JSON.stringify(json));
                    var change_status = set.slice(-1);
                    $("#"+set+" .status").text("Sent back for revision.").delay(1000).queue(function() {
                        $(".status").text("Status: Draft");
                        $(".status").dequeue();
                    });
                    if (userIsTeacherForSession) {
                        socket.emit('updatestatus', change_status, 'Teacher', "close");
                    } else {
                        socket.emit('updatestatus', change_status, '<%= username %>', "close");
                    }
                });//if breaks get rid of this one...
            });


        }

        function loadHandViewData() {
            $.ajax({
                type: "GET",
                url: "handdata",
                dataType: "json"
            }).done( function(json) {
                //console.log(JSON.stringify(json));
                createSDE(json);
            }).error( function(json) {
                console.error("[loadHandViewData] error:");
                console.error(json);
            });
        }

        var setVisibleHandView = function(handIdx) {
            console.log("Replace me with displaying the corresponding hand");
        }
    </script>

    <script>
        // loading the users approval data
        $(document).ready(function() {
            $.ajax({
                type: "GET",
                url: "getApprovalStatus",
                dataType: "JSON"
            }).done(function(json) {
                var sorted = json.usernameAndApprovalObjects.sort(function(a, b) {
                    return ((a.sde_id > b.sde_id) ? 1 : -1 );
                });
                for (x in sorted) {
                    var names = sorted[x]["userApprovals"];
                    var sortedNames = names.sort(function(a, b) {
                        return ((a.username > b.username) ? 1 : -1 );
                    });
                    sorted[x]["userApprovals"] = sortedNames;
                }

                //start user_html
                var users_html = "<ul class='users'><li class='heading'>Users</li>";

                //populate users
                for (userData in sorted[0]["userApprovals"]) {
                    var username = sorted[0]["userApprovals"][userData]["username"];
                    var online = sorted[0]["userApprovals"][userData].is_user_online; 
                    if (online) {
                        users_html = users_html + "<li class='user online'>" + username + "</li>"; 
                    } else {
                        users_html = users_html + "<li class='user'>" + username + "</li>"; 
                    }
                    
                }
                users_html = users_html + "<li class='user'>Teacher</li></ul>";

                //populate sdes
                for (sdeIndex in sorted) {
                    var sdeData = sorted[sdeIndex];
                    var sde_id = sdeData.sde_id;
                    var sdenum = parseInt(sdeIndex)+1;
                    users_html = users_html + "<ul class='sde"+sdenum+"'><li class='heading'>"+sdenum+"</li>";
                    for (userData in sdeData["userApprovals"]) {
                        var approved = sdeData["userApprovals"][userData]["approved"];
                        if (approved == 1) {
                            users_html = users_html + "<li><i class='fa fa-check'></i></li>";
                        } else {
                            users_html = users_html + "<li><i class='fa fa-close'></i></li>";
                        }
                    }
                    users_html = users_html + "</ul>";
                    //console.log(users_html);
                }


                //append to online container
                $("#online-container").append(users_html);

                //load teacher approvals and hand data (needs to be after online section populated)
                loadHandViewData();

            });
        });


    </script>

    <script> // Loading the school design form.


        function format_time(time) {
            var re = /([0-9]{4})-([0-9]{2})-([0-9]{2})T([0-9]{1,3}):([0-9]{1,3}):([0-9]{1,4})/;
            var time_elements = re.exec(time);
            var year = time_elements[1];
            var month = time_elements[2];
            var day = time_elements[3];
            var hour = time_elements[4];
            var minute = time_elements[5];
            var formatted = month+'/'+day+" "+hour+":"+minute;
            return formatted;
        }

        function updateChatScroll(){
            var element = document.getElementById("chat-container");
            element.scrollTop = element.scrollHeight;
        }

        $(document).ready( function() {
            /*$.ajax({
                url: "get_features",
                data: {},
                type: "GET",
                dataType: "json",
            }).done(function(json) {
                if (json.features === undefined) {
                    console.error("[load school design form] No features in response object: " + JSON.stringify(json));
                }
                prepare_lines(json.features);

                $('.sioinput').val( function(idx, existing_value__ignored) {
                    return json.features[idx];
                });
                $('#addline').focusin(function(){
                    socket.emit('addline');
                });
                $('#addline').focusout(function(){
                    id = $(this).attr('id');
                    socket.emit('removeempty',id);
                });
                $('.sioinput').keyup(function(){
                    content = $(this).val();
                    id = $(this).attr('id');
                    socket.emit('keyup', content, id);
                });
                $('.sioinput').focusin(function(){
                    id = $(this).attr('id');
                    socket.emit('lock', id);
                });
                $('.sioinput').focusout(function(){
                    id = $(this).attr('id');
                    socket.emit('unlock', id);
                });
            });*/
            $.ajax({
                url: "getChatHistory",
                data: {},
                type: "GET",
                dataType: "json",
            }).done(function(json) {
                //console.log(JSON.stringify(json));
                // if (json.features === undefined) {
                //     console.error("[load school design form] No features in response object: " + JSON.stringify(json));
                // }
                // make_lines(json.features.length);
                ch = json;
                for (i=ch.length-1;i>=0;i--) {
                    var chatmessage = '<div class="chat-message"><div class="chat-time">'+format_time(ch[i]["createdAt"])+'</div><div class="chat-content"><span class="chat-author chat-author-alice">'+ch[i]["username"]+': </span>'+ch[i]["message"]+'</div></div>';
                    $("#chat-message-area").append(chatmessage);
                }
                updateChatScroll();

            });

            // set online for the user that loaded the page
            socket.emit('newonline', '<%= username %>');
            $.ajax({
                type: "POST",
                url: "setUserOnline",
                data: true,
                dataType: "JSON"
            }).done(function(json) {
                console.log("Got back setApproval response: " + JSON.stringify(json));
            });

        });
    </script>
    <script>
        socket.on('addline', function(setIndex){
            //make addline into normal sioinput line
            $("#set"+setIndex).find(".addline").removeAttr('placeholder');
            $("#set"+setIndex).find(".addline").unbind('focusin');
            $("#set"+setIndex).find(".addline").unbind('focusout');
            $("#set"+setIndex).find(".addline").addClass("sioinput"+lines[setIndex]);
            $("#set"+setIndex).find(".addline").removeClass("addline");

            //make new addline
            var $wrapper = $("<div>", {class: "sioinput-wrapper"});
            $("#set"+setIndex).find(".features").append($wrapper);
            var $textarea = $("<textarea>", {class: "sioinput addline",name:"feature",placeholder:"add another feature"});
            $("#set"+setIndex).find(".features div:last").append($textarea);

            //add these event handlers

            $("textarea.sioinput").elastic();

            $("#set"+setIndex+' .sioinput:not(.addline)').keyup(function(){
                content = $(this).val();
                var set = $(this).parents(".set").attr("id");
                var classnum = $(this).attr('class').split(' ').filter(function(value) {
                    if (value != "sioinput" && value != "addline"){
                        return value;
                    }
                });
                if (classnum.length != 1) {
                    console.log("error!!");
                    console.log($(this).attr('class'));
                } else {
                    socket.emit('keyup', content, set, classnum);

                }
            });
            $("#set"+setIndex+' .sioinput:not(.addline)').focusin(function(){
                var set = $(this).parents(".set").attr("id");
                var classnum = $(this).attr('class').split(' ').filter(function(value) {
                    if (value != "sioinput" && value != "addline"){
                        return value;
                    }
                });
                if (classnum.length != 1) {
                    console.log("error!!");
                    console.log($(this).attr('class'));
                } else {
                    socket.emit('lock', set, classnum);
                }
            });
            $("#set"+setIndex+' .sioinput:not(.addline)').focusout(function(){
                var set = $(this).parents(".set").attr("id");
                var classnum = $(this).attr('class').split(' ').filter(function(value) {
                    if (value != "sioinput" && value != "addline"){
                        return value;
                    }
                });
                if (classnum.length != 1) {
                    console.log("error!!");
                    console.log($(this).attr('class'));
                } else {
                    socket.emit('unlock', set, classnum);
                }
            });
            $("#set"+setIndex+' .addline').focusin(function(){
                var setIndex = $(this).parents(".set").attr("id").slice(-1);
                socket.emit('addline',setIndex);
            });
            $("#set"+setIndex+' .addline').focusout(function(){
                var set = $(this).parents(".set").attr("id");
                var classnum = $(this).attr('class').split(' ').filter(function(value) {
                    if (value != "sioinput" && value != "addline"){
                        return value;
                    }
                });
                if (classnum.length != 1) {
                    console.log("error!!");
                    console.log($(this).attr('class'));
                } else {
                    socket.emit('removeempty',set,classnum);
                }
            });

            lines[setIndex]++;
        });
        socket.on('removeempty', function(set, classnum){

            var inputElement = $("#"+set).find("."+classnum);
            if ($(inputElement).val()=="") {
                $(inputElement).parent().remove();
            }
        });
        socket.on('keyup', function(content, set, classnum){
            var inputElement = $("#"+set).find("."+classnum);
            //console.log("got new content for ."+classnum+" which is "+content);
            $(inputElement).val(content);
        });
        /*socket.on('resizearea', function(content, set, classnum){
            var inputElement = $("#"+set).find("."+classnum);
            var h = inputElement[0].scrollHeight;
            $("#"+set).find("."+classnum).height(h+"px");
            console.log(h);
            //this.style.height = "1px";
            //this.style.height = (this.scrollHeight) + "px";
        });*/
        socket.on('lock', function(set, classnum){
            var inputElement = $("#"+set).find("."+classnum);
            $(inputElement).addClass("locked");
            $(inputElement).attr('readonly','readonly');
            console.log("ID #"+id +" has been locked!");
        });
        socket.on('unlock', function(set, classnum){
            var inputElement = $("#"+set).find("."+classnum);
            $(inputElement).removeClass("locked");
            $(inputElement).removeAttr('readonly');
            //console.log("ID #"+id +" has been unlocked!");
        });

        // Chat window
        $("textarea#chat-new").elastic();

        function pushChatMessage(chat_text) {
            console.log("sending chat text: " + chat_text);
            $.ajax({
                url: "pushChatMessage",
                data: {
                    message: chat_text,
                },
                type: "POST",
                dataType: "json",
            }).done( function(json) {
                if (json.error !== undefined) {
                    console.error("[pushChatMessage] failed: " + JSON.stringify(json));
                } else {
                    console.log("[pushChatMessage] succeeded! " + JSON.stringify(json));
                }
            });
        }
        $('#chat-new').keypress(function (e) {
            if (e.which == 13 && $('#chat-new').val() != "") {
                var chat_text = $('#chat-new').val();
                socket.emit('newmessage', chat_text, '<%= username %>');
                pushChatMessage(chat_text);
                $('#chat-new').val("");
                return false;
            }
        });
        socket.on('newmessage', function(content, username){
            var date = new Date();
            var dateformatted = format_time(date.toISOString());
            var chatmessage = '<div class="chat-message"><div class="chat-time">'+dateformatted+'</div><div class="chat-content"><span class="chat-author chat-author-alice">'+username+': </span>'+content+'</div></div>';
            $("#chat-message-area").append(chatmessage);
            updateChatScroll();
        });



        //update setlink
        socket.on('updatesetlink', function(setnum){
            $("#setlink"+setnum).addClass("hasContent");
        });

        //status stuff
        socket.on('updatestatus', function(change_status, username, status){
            $("#online-container ul.users").children("li").each(function(index) {
                if ($(this).text() == username) {
                    $("#online-container .sde"+change_status+" li:nth-child("+(index+1)).html("<i class='fa fa-"+status+"'></i>");
                }
            });
            if (userIsTeacherForSession) {
                $("#online-container ul.users").children("li").each(function(index) {
                    if ($(this).text() == "<%= username %>") {
                        $("#online-container .sde"+change_status+" li:nth-child("+(index+1)).html("<i class='fa fa-"+status+"'></i>");
                    }
                });
            }
            if (username == "Teacher" && status == "check") {
                $("#locked-message").text("This set has been approved, and editing is locked.");
            }
        });

        socket.on('newonline', function(username, socketID){
            $("#online-container ul.users").children("li").each(function(index) {
                if ($(this).text() == username) {
                    $(this).addClass("online");
                }
            });
            socketIDs[socketID] = username;
        });

        //implement disconnect
        socket.on('newdisconnect', function(socketID){
            username = socketIDs[socketID];
            $("#online-container ul.users").children("li").each(function(index) {
                if ($(this).text() == username) {
                    $(this).removeClass("online");
                }
            });
        });

    </script>
</body>

</html>
