
<!-- views/phase3.ejs -->
<!-- Expected EJS Render Object:
    {
        username: string
    }
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Committee of N - Phase I</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic,300,300italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/phase3.css">

</head>
<body>
    <nav>
        <div class="navItem navLeft"><a href="/dashboard">Committee of N</a></div>
        <div class="navRight">
            <div class="navItem"><a href="/dashboard">Dashboard</a></div>
            <div class="navItem" id="username"><%= username %></div>
            <div class="navItem" id="navLogout"><a href="/logout">Logout</a></div>
        </div>
    </nav>
    <section class="main" id="main">
        <h1 class="title">Committee of N - Phase III</h1>
        <p class="instructions"><span class="bolder">Instructions:</span> Select one School Design Element from each category to make a complete school.</p>


        <!--<h2>Justifications</h2>
        <div class="sioarea" id="justifications">

        </div>
        <button class="save">Save</button>
        <button class="submit">Submit for Review</button>
        <span class="status">Status: Draft</span>-->
    </section>


    <section class="online">
        <div class="online-container" id="online-container">
            <h2>Users:</h2>
        </div>
    </section>

    <section class="chat">
        <div class="chat-container" id="chat-container">
            <h2>Discussion</h2>
            <div id="chat-message-area">

            </div>
        </div>
        <div class="chat-input-wrapper">
            <textarea  rows="1" id="chat-new" placeholder="Type here..."></textarea>
        </div>
    </section>

    <!-- scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.elastic.source.js"></script>
    <script>

    //EJS VARIABLES
    var userIsTeacherForSession = <%= userIsTeacherForSession ? true : false %>;
    var sessionUsername = '<%= username %>';


      // Example: Getting Phase 3 SDE data. Some "possible_SDEs" will sometimes be empty, and "chosen_SDE" isn't guaranteed to be a valid SDE id; it'll be 0 if there is no chosen SDE.
      function ExampleGetSDEData() {
        $.ajax({
          type:"GET",
          url:"getSDEData",
          dataType:"json"
        }).done( function(json){
          console.log(JSON.stringify(json));
        }).error( function(json){
          console.log(JSON.stringify(json));
        });
      }

      function ExampleSetSlotSDEChoice() {
        $.ajax({
          type:"POST",
          url:"setSlotSDEChoice",
          data:{
            slot_id: 2, // replace with slot_id from GetSDEData
            sde_id: 0   // replace with sde_id from GetSDEData
          },
          dataType:"json"
        }).done( function(json){
          console.log(JSON.stringify(json));
        }).error( function(json){
          console.log(JSON.stringify(json));
        });
      }

      function ExampleGetPhaseApprovals() {
        $.ajax({
          type:"GET",
          url:"getPhaseApprovals",
          dataType:"json"
        }).done( function(json){
          console.log(JSON.stringify(json));
        }).error( function(json){
          console.log(JSON.stringify(json));
        });
      }

      function ExampleSetPhaseApproval() {
        $.ajax({
          type:"POST",
          url:"setPhaseApproval",
          data: {
            approved: 1
          },
          dataType:"json"
        }).done( function(json){
          console.log(JSON.stringify(json));
        }).error( function(json){
          console.log(JSON.stringify(json));
        });
      }

      function ExampleGetChatHistory() {
        $.ajax({
          type:"GET",
          url:"getChatHistory",
          dataType:"json"
        }).done( function(json){
          console.log(JSON.stringify(json));
        }).error( function(json){
          console.log(JSON.stringify(json));
        });
      }

      function ExamplePushChatMessage() {
        $.ajax({
          type:"POST",
          url:"pushChatMessage",
          data: {
            message: "HI!"
          },
          dataType:"json"
        }).done( function(json){
          console.log(JSON.stringify(json));
        }).error( function(json){
          console.log(JSON.stringify(json));
        });
      }

      function ExampleSetUserOnline() {
        $.ajax({
          type:"POST",
          url:"setUserOnline",
          data: {
            is_user_online: true
          },
          dataType:"json"
        }).done( function(json){
          console.log(JSON.stringify(json));
        }).error( function(json){
          console.log(JSON.stringify(json));
        });
      }

    </script>
    <script src="/js/phase3.js"></script>


</body>

</html>
