<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Committee of N</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
<div class='container'>
    <h1>Profile</h1>

    <p><% if (message) { message } %></p>

    <p>Username: <%= username %></p>
    <p>Email: <%= email %></p>
    <p>You are a: <% if (!is_teacher) { %><%="Student"%><% } else { %><%="Teacher"%><% } %>

    <script>
        var username    = '<%= username %>';
        var email       = '<%= email %>';
        console.log("user: " + username);
        console.log("email: " + email);
    </script>


    <script>
        var user_req_view_sessions = function() {
            var game_session_div = $(".div-game-session-info");
            $.ajax( {
                url: "profile/sessions",
                data: { dummy_data: "you can send info from client to server this way" },
                type: "GET",
                dataType: "json" // expect JSON back
            } )
            .done( function(json) {
                console.log("Got response: " + json);
                var listing = ""
                for (var i = 0; i < json.gamesessions.length; i++) {
                    var gamesession = json.gamesessions[i];
                    listing += "<p>" + gamesession.name;
                }
                game_session_div.html(listing).appendTo("body");
            } )
            .fail( function(raw_req, status, error) {
                game_session_div.html("<p>" + error + "</p>")
                    .appendTo("body");
            } );
        }
    </script>
    <p>Click this button to view your sessions. (Practice w/ ajax)</p>
    <button class="bt-view-session" onclick="user_req_view_sessions()">View Sessions</button>


    <script>
        var user_req_create_session = function() {
            var game_session_name = $(".input-create-session-name").val();
            console.log("Trying to make session with name: " + game_session_name);
            $.ajax({
                url: "profile/sessions/create",
                data: { session_name: game_session_name },
                type: "POST",
                dataType: "json"
            })
            .done( function(json) {
                console.log("Make session request result: " + json.created_session_id);
                var session_id = json.created_session_id;
                if (session_id == -1) {
                    console.log("Error: Session already exists with that name.");
                }
                else if (!session_id) {
                    console.log("A server-side error occurred when attempting to make the session.");
                }
                else {
                    console.log("Okay! Session created, and this user is in it.");
                }
            })
            .fail( function(raw_req, status, error) {
                console.log("Join session request failed: " + error);
            } );
            console.log(game_session_name);
        }
    </script>
    <p>Click this button to make a session with the specified name. (Practice w/ ajax)</p>
    <input type="text" class="input-create-session-name">
    <button class="bt-req-make-session" onclick="user_req_create_session()">Make Session</button>


    <script>
        var user_req_join_session = function() {
            var game_session_name = $(".input-join-session-name").val();
            console.log("Trying to join session with name: " + game_session_name);
            $.ajax({
                url: "profile/sessions/join",
                data: { session_name: game_session_name },
                type: "POST",
                dataType: "json"
            })
            .done( function(json) {
                console.log("Join session request result: " + json.joined_session_id);
                var session_id = json.joined_session_id;
                if (session_id == -1) {
                    console.log("Error: No session exists with that name.");
                }
                else if (!session_id) {
                    console.log("A server-side error occurred when attempting to join the session.");
                }
                else {
                    console.log("Okay! Session joined.");
                }
            })
            .fail( function(raw_req, status, error) {
                console.log("Join session request failed: " + error);
            } );
            console.log(game_session_name);
        }
    </script>
    <p>Click this button to join a session that exists already. (Practice w/ ajax)</p>
    <input type="text" class="input-join-session-name">
    <button class="bt-req-join-session" onclick="user_req_join_session()">Join Session</button>
    <div class="div-game-session-info"></div>

</div>
</body>
</html>
