<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>Register - Committee of N</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic,300,300italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
<div class="container">
	<nav>
        <div class="navItem navLeft"><a href="index.html">Committee of N</a></div>
        <div class="navRight">
            <div class="navItem">Login</div>
        </div>
    </nav>
    <section class="login">
        <div class="form-wrapper">
            <h1>Register</h1>
            <% if (message !== undefined && message != "") { %>
			<div class="flash-container">
				<p><%= message %></p>
			</div>
			<% } %>
            <form action="/register" method="post">
            	<div class="formitem"><i class="fa fa-user"></i><input type="text" name="username" placeholder="choose a username" autofocus></div>
                <div class="formitem"><i class="fa fa-lock"></i><input type="password" name="password" placeholder="choose a password"></div>
				<!--<label>Chat Color</label>
				<input type="text" name="chat_color" value="000000"/>-->
             	<button type="submit" class="register-button">Register</button>
            </form>
            <p>Already have an account? <a href='login'>Login here</a></p>
        </div>
    </section>
    <footer>
        <div class="copyright">
            <i class="fa fa-copyright"></i> 2016 Teaching Systems Lab
        </div>
    </footer>
</div>
</body>
</html>
