

/* =============================================================================
   MAIN CONTENT
   ========================================================================== */

/* All sections */
section, footer {
	width: 80%;
	margin: 40px auto;
}

/* Title Section */
section.title h1{
	font-size:35px;
	font-family:Merriweather, serif;
	font-weight:bold;
}

/* Messages */
.flash-messages {
    line-height:1.3em;
    color: #e74c3c;
}

/* Create session */
#create-session-name {
    height:35px;
    border:1px solid #ddd;
    padding: 0 10px;
    font-family:Merriweather, serif;
    font-size:14px;
    width: 250px;
}

#create-session {
    height:35px;
    margin-left:5px;
}


/* Gamesessions Section */
section.gamesessions {
	font-family:"helvetica neue",helvetica,arial,sans-serif;
	font-weight:300;
}

section.gamesessions h2 {
	text-transform: uppercase;
	font-size:32px;

}

section.gamesessions h3 {
	font-size:26px;
	margin-bottom:5px;
	margin-top: 20px;
	font-weight:500;
}

section.gamesessions h3>a {
	text-decoration: underline;
}

section.gamesessions .instructor {
	font-size: 18px;
	font-weight:300;
	margin-bottom: 5px;
}

section.gamesessions .smalltitle {
	opacity:.7;
}

section.gamesessions .phase-tab {
	margin-top:10px;
    height: 40px;
    line-height: 1.2em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border:1px solid #333;
    border-bottom:none;
    display: inline-block;
    padding: 12px 30px;
    text-align: center;
    cursor:pointer;
    cursor:hand;
    font-weight:bolder;
}

section.gamesessions .phase-tab.open {
    background-color:#333;
    color:white;
}

section.gamesessions .phasearea {
    display:none;
}

section.gamesessions .phasearea.open {
    display:block;
}

section.gamesessions table {
    border:1px solid black;
    border-collapse: collapse;
    margin-bottom:10px;
}

section.gamesessions th {
    border:1px solid #333;
    padding:4px;
    background-color:#bdc3c7;
}

section.gamesessions td {
    border:1px solid #333;
    padding:4px;
}

section.gamesessions .session_actions {
    margin-bottom:20px;
}

section.gamesessions .session_actions span {
    display:inline-block;
    text-align: center;
    background-color:#333;
    color:white;
	padding:9px 13px;
	display:inline-block;
	margin-right:15px;
	font-family:"helvetica neue",Helvetica,arial,sans-serif;
	font-weight:bolder;
}

section.gamesessions .session_actions span.managesession {
    background-color:#8e44ad;
}

section.gamesessions .session_actions span.next {
    background-color:#27ae60;
}

section.gamesessions .session_actions span.prev {
    background-color:#2980b9;
}

section.gamesessions .phasebox {
	width:auto;
	display:inline-block;
	margin-bottom:5px;
	width:100px;
	background-color: #005c99;
}

section.gamesessions .phasebox:first-of-type {
	margin-top:8px;
}

section.gamesessions .phasetext {
	display:inline-block;
	width:70px;
	padding:5px;
	padding-right:0;
	padding-left:7px;
	background: #33adff;
}

section.gamesessions .phaseicon {
	display:inline-block;
	width:30px;
	text-align: center;
	color:white;
}

section.gamesessions .checked.phasebox{
	background-color: #009900;
}

section.gamesessions .checked .phasetext{
	background-color: #66ff66;
}

section.gamesessions .locked.phasebox{
	background-color: #666;
}

section.gamesessions .locked .phasetext{
	background-color: #aaa;
}

section.gamesessions td a {
	text-decoration: underline;
}


/* Footer */
footer {
	width: 80%;
	margin: 40px auto;
}
