

/* =============================================================================
   MAIN CONTENT
   ========================================================================== */


/* Login Section */

section.login {
	text-align: center;
	font-family:"helvetica neue",helvetica,arial,sans-serif;
	font-weight:300;
}

section.login .form-wrapper{
	display:inline-block;
	text-align: left;
	line-height: 1em;
	width:300px;
}

section.login h1{
	font-size:24px;
	margin-bottom:25px;
	font-family:Merriweather, serif;
	font-weight:bold;
}

section.login form{
	margin-bottom:25px;
}

section.login .formitem{
	display:block;
	background-color:#ebebeb;
	padding:8px 0;
	margin-bottom:10px;
}

section.login .formitem i{
	width:35px;
	text-align: center;
	font-size:17px;
}

section.login .formitem input{
	width:265px;
	height:100%;
	font-size:15px;
	font-family:"helvetica neue",helvetica,arial,sans-serif;
	font-weight:300;
	border:none;
	background-color:transparent;
}

section.login .remember{
	display:inline-block;
	width:50%;
	font-size:15px;
}

section.login .remember input{
    position: relative;
    vertical-align: middle;
    bottom: 1px;
    margin-right:7px;
}

section.login form button{
	width:50%;
	display:inline-block;
	background-color:#595959;
	color:white;
	padding:8px 0;
}

section.login form button.register-button {
	background-color:#27ae60;
	width:100%;
}

section.login button:hover {
	opacity:.8;
}

section.login a {
	color:rgba(10,85,145,1);
}

section.login p {
	margin-top:8px;
	margin-bottom:15px;
}

/* Login flash message (e.g. "Please log in first.") */

div.flash-container p{
	background-color: #f4c0c0;
	border-radius: 5px;
	margin-bottom:25px;
	padding: 10px;
}
div.flash-container-success p{
	background-color: #c0f4cb;
	border-radius: 5px;
	margin-bottom:25px;
	padding: 10px;
}



/* Footer */
footer {
	width: 80%;
	margin: 40px auto;
}
