/* =============================================================================
   FOUNDATION
   ========================================================================== */
/* Jayden Seric's Foundation */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0;font:16px/1 sans-serif;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased}h1,h2,h3,h4,p,blockquote,figure,ol,ul{margin:0;padding:0}main,li{display:block}h1,h2,h3,h4{font-size:inherit}strong{font-weight:700}a,button{color:inherit;-webkit-transition:.3s;transition:.3s}a{text-decoration:none}button{overflow:visible;border:0;font:inherit;-webkit-font-smoothing:inherit;letter-spacing:inherit;cursor:pointer}::-moz-focus-inner{padding:0;border:0}:focus{outline:0}img{max-width:100%;height:auto;border:0}

/* My Foundation */
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
li{list-style:none}
*{box-sizing: border-box}


/* Background */
html,body{
	background:rgb(255,255,255);
	font-family:Merriweather, serif;
}

body{
	margin-top:100px;
}

/* =============================================================================
   HEADER
   ========================================================================== */

nav {
	background-color: #595959;
	height: 50px;
	line-height: 50px;
	padding:0;
	font-size:0;
	padding: 0 10%;
	font-weight:300;
	position:fixed;
	width:100%;
	top:0;
	z-index: 1;
}

nav .navItem {
	display:inline-block;
	vertical-align: middle;
	font-size:18px;
	color: #fff;
}

nav .navLeft {
	font-weight:bold;
	font-size:20px;
}

nav .navRight {
	float:right;

}

nav .navRight .navItem {
	padding-left:35px;
}
