section {
    margin-left:100px;
    margin-right:100px;
    line-height:1.5em;
}

h1 {
    font-size:24px;
}

p.instructions {
    font-weight:300;
}

#student-input-form {
    margin-top:20px;
    margin-bottom:8px;
}

#student-input-form input {
    height:35px;
    border:1px solid #ddd;
    padding: 0 10px;
    font-family:Merriweather, serif;
    font-size:14px;
    width: 250px;
    margin-right: 5px;
}