/* =============================================================================
   FOUNDATION
   ========================================================================== */
/* Jayden Seric's Foundation */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0;font:16px/1 sans-serif;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased}h1,h2,h3,h4,p,blockquote,figure,ol,ul{margin:0;padding:0}main,li{display:block}h1,h2,h3,h4{font-size:inherit}strong{font-weight:700}a,button{color:inherit;-webkit-transition:.3s;transition:.3s}a{text-decoration:none}button{overflow:visible;border:0;font:inherit;-webkit-font-smoothing:inherit;letter-spacing:inherit;background:none;cursor:pointer}::-moz-focus-inner{padding:0;border:0}:focus{outline:0}img{max-width:100%;height:auto;border:0}

/* My Foundation */
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
li{list-style:none}
*{box-sizing: border-box}


/* Background */
html{
    background:rgb(255,255,255);
    height:103%;
    width:100%;
}

body{
    padding-top:50px;
    height:100%;
    width:100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position:relative;
    font-family:Merriweather, serif;
    background:rgb(255,255,255);
}

/* scroll fix */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


/* =============================================================================
   HEADER
   ========================================================================== */

nav {
    background-color: #595959;
    height: 50px;
    line-height: 50px;
    padding:0;
    font-size:0;
    padding: 0 20px;
    font-weight:300;
    position:fixed;
    width:100%;
    top:0;
    z-index: 1;
}

nav .navItem {
    display:inline-block;
    vertical-align: middle;
    font-size:18px;
    color: #fff;
}

nav .navLeft {
    font-weight:bold;
    font-size:20px;
}

nav .navRight {
    float:right;

}

nav .navRight .navItem {
    padding-left:35px;
}

/* =============================================================================
   MAIN CONTENT
   ========================================================================== */

/* Section positioning */
section.main {
  margin-right:250px;
  margin-top:0;
  height:100%;
  border-right: #333 solid 5px;
  overflow:scroll;
  padding:20px;
  padding-bottom:0;
}

section.online {
  width: 250px;
  height: 150px;
  position:absolute;
  top:0;
  right:0;
  margin-top:50px;
}

section.online .online-container {
  overflow:scroll;
  height:150px;
  white-space: nowrap;
}

section.chat {
  border-top: #333 solid 5px;
  width:250px;
  position:absolute;
  top:200px;
  bottom:0;
  right:0;
}

section.chat .chat-container {
  overflow:scroll;
  height:100%;
}

/* Title */
section.main h1.title {
    font-size: 35px;
    margin-bottom:5px;
}

section.main p.instructions {
    font-weight:300;
    line-height: 1.4em;
    margin-bottom:30px;
}

section.main p.instructions .bolder{
    font-weight:bold;
}

/* Online Section */
section.online {
  font-family:"helvetica neue",Helvetica,arial,sans-serif;
  line-height: 18px;
  font-weight:bold;
}

section.online h2{
  margin-top:10px;
  margin-left:10px;
  font-size:25px;
  text-transform: uppercase;
  color:#777;
  margin-bottom: 5px;
}

section.online ul {
  display:inline-block;
  text-align:center;
  border-left: 1px solid #333;
  font-weight:normal;
}

section.online ul.users {
  text-align:left;
  border:none;
  margin-right:10px;
}

section.online ul.users li {
    padding-left: 1.2em;
    text-indent: -.5em;
}

section.online ul.users li:before {
    margin-right:-5px;
    content: "• ";
    vertical-align: top;
    font-size:2em;
    opacity:0;
    color: red;
}

section.online ul.users li.online:before {
    color: green;
}

section.online ul.users li.user:before {
    opacity:1;
}

section.online ul.users li:last-child:before {
    opacity:0;
}

section.online li.heading {
  font-weight: bold;
}

section.online i.fa-check{
  width:25px;
  color:#27ae60;
}

section.online i.fa-close{
  width:25px;
  color:#e74c3c;
}

section.online i.fa-play-circle{
  width:25px;
  color:#2980b9;
}

section.online i.fa-hourglass{
  width:25px;
  font-size:0.8em;
  color:#666;
}

/* Chat Section */
section.chat {
  font-family:"helvetica neue",Helvetica,arial,sans-serif;
  font-weight:300;
  padding-left:10px;
  line-height: 1.3em;
  font-size:13px;
}

section.chat h2{
  font-size:25px;
  text-transform: uppercase;
  color:#777;
  margin-bottom: 5px;
  margin-top: 10px;
}

section.chat .chat-time{
  float:right;
  text-align: right;
  color:#666;
}

section.chat .chat-input-wrapper{
  position:absolute;
  bottom:30px;
  left:0px;
  width:100%;
  padding:10px;
  background-color:white;
}

section.chat textarea#chat-new{
  resize:none;
  width:100%;
  font-family:"helvetica neue",Helvetica,arial,sans-serif;
  font-weight:300;
  font-size:14px;
  border:none;
  border-bottom:#bbb solid 1px;
  color:#777;
  padding:8px 0;
}

section.chat #chat-message-area {
  overflow:scroll;
  margin-bottom:90px;
}

/* Colors */
.chat-author{
  font-weight:bold;
}

.chat-author-alice{
  color:rgba(10,85,145,1);
}

.chat-author-alice:before{
  color: green !important;
}

.chat-author-bob{
  color:rgba(227,119,48,1);
}


/* =============================================================================
   MAIN SECTION
   ========================================================================== */

/* Sets section */
div.sets {
    display: flex;
    justify-content: space-around;
}

div.sets p {
    font-size:22px;
    font-weight:lighter;
    color: #595959;
    background-color: #ffffff;
    border:2px solid #595959;
    width:45px;
    height:45px;
    line-height: 38px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    cursor:pointer;
    cursor:hand;
}

div.sets p.hasContent {
    color:white;
    background-color: #595959;
}

div.sets p.setSelected {
    background-color: #F5B189;
}

div.sets p.hasContent.setSelected {
    color:white;
    background-color: #dc621b;
}

div.set {
  display:none;
  margin-bottom: 60px;
}

div.set.open {
  display:block;
}

/* All design cards */
.design-card {
    width: 208px;
    height: 308px;
    background-image:url("../assets/border-white-big.png");
    background-size:200px 300px;
    background-repeat: no-repeat;
    background-position: center;
    color:white;
    text-align: center;
    position:relative;
    display:inline-block;
    float:left;
    margin-right:30px;
}

.design-card .design-card-container {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 160px;
}

.design-card h1 {
    margin-bottom: 15px;
    font-size:17px;
    line-height:1.2em;
}

.design-card img.embellishment {
    width:40px;
}

.design-card p {
    font-size:11.5px;
    margin: 12px 0;
    line-height:1.35em;
    font-weight:300;
}

/* Hand section */
.hand {
  margin: 40px auto;
}

.hand h2 {
    font-size:24px;
    font-weight:normal;
    margin-bottom:15px;
}

.hand .design-tab {
    max-width:25%;
    line-height: 1.2em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: inline-block;
    padding: 10px 20px 8px 20px;
    text-align: center;
    cursor:pointer;
    cursor:hand;
    font-size:14px;
    font-weight:300;
}

.hand .design-tab p:first-child {
    font-weight:bold;
    margin-bottom:3px;
}

.hand .design-section-title p {
    vertical-align: middle;
    font-size:18px;
    font-weight: normal;
    font-style:italic;
}

.hand .design-area {
    width:100%;
    background-color:rgba(122,122,122,.3);
    padding: 30px;
    margin-bottom:40px;
    display: none;
}

.hand .design-area.open {
    display:block;
}

.hand .design-area:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.hand .design-area .design-card {
    background-color:rgba(122,122,122,1);
}

.hand .design-info h1 {
    font-size:28px;
    margin: 20px 0;
}

.hand .design-info p {
    font-size:17px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:300;
    line-height:1.15em;
    margin-bottom:15px;
}

.hand .design-info a {
    color:rgba(122,122,122,.8);
}

    /* change to scss or something when get a chance */

.hand .design-tab-element {
    background-color:rgba(122,122,122,.3);
}

.hand .design-tab-value-1 {
    background-color:rgba(146,19,11,.3);
}

.hand .design-tab-value-2 {
    background-color:rgba(10,85,145,.3);
}

.hand .design-tab-value-3 {
    background-color:rgba(227,119,48,.3);
}

.hand .design-value-1 {
    background-color:rgba(146,19,11,0.3);
}

.hand .design-value-1 .design-card {
    background-color:rgba(146,19,11,1);
}

.hand .design-value-1 a {
    color:rgba(146,19,11,.8);
}

.hand .design-value-2 {
    background-color:rgba(10,85,145,0.3);
}

.hand .design-value-2 .design-card {
    background-color:rgba(10,85,145,1);
}

.hand .design-value-2 a {
    color:rgba(10,85,145,.8);
}

.hand .design-value-3 {
    background-color:rgba(227,119,48,0.3);
}

.hand .design-value-3 .design-card {
    background-color:rgba(227,119,48,1);
}

.hand .design-value-3 a {
    color:rgba(227,119,48,.8);
}

/* form */

.form {
    background-color:rgba(238,238,238,1);
    padding:30px;
}

.form input {
    display:block;
    width:100%;
    border:0;
}

.form h1 {
    margin-bottom:25px;
    font-size:20px;
    font-weight:bold;
    color:red;
}

.form h2 {
    margin-top:25px;
    margin-bottom:10px;
    font-size:20px;
    font-weight:normal;
}

.form p.instructions {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom:10px !important;
}

.form input.title {
    font-family:"Merriweather",Helvetica,arial,sans-serif;
    height:40px;
    padding:8px;
    font-size:16px;
    font-style:italic;
}

.form .sioarea {
    height: auto;
    padding-top:7px;
    padding-bottom:10px;
    background-color:white;
}

.form .sioinput {
    height:21px;
    font-size:14px;
    padding-left:18px;
    font-family:"helvetica neue",helvetica,arial,sans-serif;
    font-weight:300;
    overflow:hidden;
    display:block;
    border:none;
    resize:none;
    width:100%;
}

.form .sioinput.locked {
    cursor:default;
    color:red;
}

.form .sioinput-wrapper {
  padding-left:10px;
  position:relative;
}

.form .sioinput-wrapper::before {
  content: "»";
  position:absolute;
  font-size:12px;
  line-height:21px;
  vertical-align: middle;
}

.form button {
  text-align: center;
  border:#111 solid 2px;
  padding:9px 13px;
  display:inline-block;
  margin-top:25px;
  margin-right:15px;
  font-family:"helvetica neue",Helvetica,arial,sans-serif;
}

.form button:hover {
  background-color:#333;
  border-color:#333;
  color:white;
}

.form .status {
  font-family:"helvetica neue",Helvetica,arial,sans-serif;
  font-weight:300;
  opacity:0.5;
}
