nav {
    text-align: left;
}

body {
    text-align: center;
}

section#error {
    background-color:rgba(231, 76, 60,0.4);
    display:inline-block;
    margin-bottom: 30px;
    padding:20px;
    border-radius:20px;
}

section.num-teams {
    text-align: center;
}

section.num-teams p {
    margin-bottom: 10px;
}

section.num-teams button {
    padding: 5px;
    border:black solid 2px;
}

section#all-teams {
    display:flex;

}

.team-container {
    border:2px solid black;
    flex:1;
    margin: 10px 5px;
}

.student-pair {
    margin: 8px;
    cursor: move;
    background-color: #ccc;
    padding: 8px;
}

section#team-numbers {
    display:flex;
}

section#team-numbers div {
    flex: 1;
    text-align: center;
    margin-top: 20px;
    font-size:24px;
    font-weight:bolder;
}

section#submit-teams {
    text-align: center;
}

section#submit-teams button {
    background-color: #27ae60;
    padding: 10px;
    font-size:18px;
    color:white;
    margin-top: 20px;
}

section.submit-feedback p {
    margin-bottom: 10px;
}
