/* =============================================================================
   FOUNDATION
   ========================================================================== */
/* Jayden Seric's Foundation */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0;font:16px/1 sans-serif;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased}h1,h2,h3,h4,p,blockquote,figure,ol,ul{margin:0;padding:0}main,li{display:block}h1,h2,h3,h4{font-size:inherit}strong{font-weight:700}a,button{color:inherit;-webkit-transition:.3s;transition:.3s}a{text-decoration:none}button{overflow:visible;border:0;font:inherit;-webkit-font-smoothing:inherit;letter-spacing:inherit;background:none;cursor:pointer}::-moz-focus-inner{padding:0;border:0}:focus{outline:0}img{max-width:100%;height:auto;border:0}

/* My Foundation */
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
li{list-style:none}
*{box-sizing: border-box}


/* Background */
html{
    background:rgb(255,255,255);
    height:103%;
    width:100%;
}

body{
    padding-top:50px;
    height:100%;
    width:100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position:relative;
    font-family:Merriweather, serif;
    background:rgb(255,255,255);
}

/* scroll fix */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


/* =============================================================================
   HEADER
   ========================================================================== */

nav {
    background-color: #595959;
    height: 50px;
    line-height: 50px;
    padding:0;
    font-size:0;
    padding: 0 20px;
    font-weight:300;
    position:fixed;
    width:100%;
    top:0;
    z-index: 1;
}

nav .navItem {
    display:inline-block;
    vertical-align: middle;
    font-size:18px;
    color: #fff;
}

nav .navLeft {
    font-weight:bold;
    font-size:20px;
}

nav .navRight {
    float:right;

}

nav .navRight .navItem {
    padding-left:35px;
}

/* =============================================================================
   MAIN CONTENT
   ========================================================================== */

/* Section positioning */
section.main {
  margin-right:250px;
  margin-top:0;
  height:100%;
  border-right: #333 solid 5px;
  overflow:scroll;
  padding:20px;
  padding-bottom:50px;
}

section.online {
  width: 250px;
  height: 150px;
  position:absolute;
  top:0;
  right:0;
  margin-top:50px;
}

section.online .online-container {
  overflow:scroll;
  height:150px;
  white-space: nowrap;
}

section.chat {
  border-top: #333 solid 5px;
  width:250px;
  position:absolute;
  top:200px;
  bottom:0;
  right:0;
}

section.chat .chat-container {
  overflow:scroll;
  height:100%;
}

/* Title */
section.main h1.title {
    font-size: 35px;
    margin-bottom:5px;
}

section.main p.instructions {
    font-weight:300;
    line-height: 1.4em;
    margin-bottom:30px;
}

section.main p.instructions .bolder{
    font-weight:bold;
}

/* Online Section */
section.online {
  font-family:"helvetica neue",Helvetica,arial,sans-serif;
  line-height: 18px;
  font-weight:bold;
}

section.online h2{
  margin-top:10px;
  margin-left:10px;
  font-size:25px;
  text-transform: uppercase;
  color:#777;
  margin-bottom: 5px;
}

section.online ul {
  display:inline-block;
  text-align:center;
  border-left: 1px solid #333;
  font-weight:normal;
}

section.online ul.users {
  text-align:left;
  border:none;
  margin-right:10px;
}

section.online ul.users li {
    padding-left: 1.2em;
    text-indent: -.5em;
}

section.online ul.users li:before {
    margin-right:-5px;
    content: "• ";
    vertical-align: top;
    font-size:2em;
    opacity:0;
    color: red;
}

section.online ul.users li.online:before {
    color: green;
}

section.online ul.users li.user:before {
    opacity:1;
}

section.online ul.users li:last-child:before {
    opacity:0;
}

section.online li.heading {
  font-weight: bold;
}

section.online i.fa-check{
  width:25px;
  color:#27ae60;
}

section.online i.fa-close{
  width:25px;
  color:#e74c3c;
}

section.online i.fa-play-circle{
  width:25px;
  color:#2980b9;
}

section.online i.fa-hourglass{
  width:25px;
  font-size:0.8em;
  color:#666;
}

/* Chat Section */
section.chat {
  font-family:"helvetica neue",Helvetica,arial,sans-serif;
  font-weight:300;
  padding-left:10px;
  line-height: 1.3em;
  font-size:13px;
}

section.chat h2{
  font-size:25px;
  text-transform: uppercase;
  color:#777;
  margin-bottom: 5px;
  margin-top: 10px;
}

section.chat .chat-time{
  float:right;
  text-align: right;
  color:#666;
}

section.chat .chat-input-wrapper{
  position:absolute;
  bottom:30px;
  left:0px;
  width:100%;
  padding:10px;
  background-color:white;
}

section.chat textarea#chat-new{
  resize:none;
  width:100%;
  font-family:"helvetica neue",Helvetica,arial,sans-serif;
  font-weight:300;
  font-size:14px;
  border:none;
  border-bottom:#bbb solid 1px;
  color:#777;
  padding:8px 0;
}

section.chat #chat-message-area {
  overflow:scroll;
  margin-bottom:90px;
}

/* Colors */
.chat-author{
  font-weight:bold;
}

.chat-author-alice{
  color:rgba(10,85,145,1);
}

.chat-author-alice:before{
  color: green !important;
}

.chat-author-bob{
  color:rgba(227,119,48,1);
}



/* =============================================================================
   MAIN SECTION
   ========================================================================== */

/* Main phase section */
section.main .category {
  width:100%;
  border:3px solid #333;
  white-space: nowrap;
  overflow-x: auto;
  margin-bottom: 20px;
  font-size:13px;
}

section.main .category::-webkit-scrollbar {
    height: 0.3em;

}

section.main .category-name {
  white-space: normal;
  width:150px;
  height:120px;
  float:left;
  background-color:#333;
  color:white;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  font-weight:bolder;
  font-size:18px;
  line-height:1.4em;
}

section.main .category-content {
  height:120px;
  padding: 10px;
  padding-left:160px;
}

section.main .sde {
  height:100px;
  width:400px;
  border:2px solid #888;
  display: inline-block;
}

section.main .sde.used {
  background-color:rgba(46, 204, 113,.4);
}

section.main .sde-cards {
  white-space: normal;
  height:100%;
  width:120px;
  float:left;
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  border-right:2px solid #888;
  line-height:1.4em;
}

section.main .sde-content {
  white-space: normal;
  padding:10px;
  padding-left:130px;
  line-height:1.4em;
  position: relative;
  height:100%;
}

section.main .sde-content p {
  font-family:"helvetica neue",Helvetica,arial,sans-serif;
}

section.main .sde-use {
  position:absolute;
  right:4px;
  bottom:4px;
}

section.main input[type="checkbox"] {
  width:15px;
  height:15px;
}

section.main h2 {
    margin-top:25px;
    margin-bottom:10px;
    font-size:20px;
    font-weight:normal;
}

section.main .sioarea {
    height: auto;
    padding-top:7px;
    padding-bottom:10px;
    background-color:white;
}

section.main .sioinput {
    height:21px;
    font-size:14px;
    padding-left:18px;
    font-family:"helvetica neue",helvetica,arial,sans-serif;
    font-weight:300;
    overflow:hidden;
    display:block;
    border:none;
    resize:none;
    width:100%;
}

section.main button {
  text-align: center;
  border:#111 solid 2px;
  padding:9px 13px;
  display:inline-block;
  margin-top:25px;
  margin-right:15px;
  font-family:"helvetica neue",Helvetica,arial,sans-serif;
}

section.main button:hover {
  background-color:#333;
  border-color:#333;
  color:white;
}

section.main .status {
  font-family:"helvetica neue",Helvetica,arial,sans-serif;
  font-weight:300;
  opacity:0.5;
}

